/*
img{
    width: 100px;
    height: 50px;

}
*/

/*
#image {
    width: 266px;
    height: 200px;
}
*/
img.image{
    width: 100%;
    height: auto;
}

div.container{
    text-align: center;
    padding: 10px 20px;
}

div.polaroid{
    width: 80%;
    background-color:white;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


* {
    box-sizing: border-box;
}

div.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}